*{margin:0;
padding:0;
box-sizing: border-box;
}

@media(min-width:600px){

}




.slider{
width: 100%;
margin: auto;
overflow: hidden;
margin-top: 70px;
}

.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation:cambio 20s infinite alternate ;
    animation-timing-function: ease-in;
}

.slider li{
    width: 100%;
    list-style: none;

}
.slider img{
    width: 100%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}


body{

    height:100vh;
    overflow-y: scroll;

}

/* BARRA DE MENU*/

#barraMenu{
    flex-wrap: wrap;
    background-color: #457b9d;
    width: 100%;
    height: 12vh;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr; 
}


.alonair{
grid-column:1/2 ;
grid-row:1/3 ;
}


.ofert{
grid-column:2/3;
grid-row:2/3;
text-align: center;
color: white;
}

.misViajes{
grid-column:3/4 ;
grid-row:2/3 ;
text-align: center;
color: white;
}


.atePasaj{
    grid-column:4/5 ;
    grid-row:2/3 ;
text-align: center;

}
.textColor{
    color: white;
}



.estVuel{
grid-column:6/7 ;
grid-row:2/3 ;
text-align: center;
color: white;
}


.alonPass{
grid-column:7/8 ;
grid-row:2/3 ;
text-align: center;
color: white;
}



.iniSes{
grid-column:8/9 ;
grid-row:2/3 ;
text-align: center;

}

.button{
    color: white;
    border: none;
    background-color: #457b9d;
    cursor: pointer;
    
}
/*......................*/

.reseteoListas a:link,
a:visited,
a:active {
    text-decoration: none;
    list-style-type:none;
}

nav{
    background-color: #457b9d;
    height: 15px;
    width:auto;
}

/*checkin*/

#checkIn{
max-width: 700px;
    border: 2px solid black;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image:url(../images/logo\ 5%.png);
    background-size: 150px;
border: #457b9d 2px solid;
margin: 150px 0px 0px 0px;

  }

  .checkin-titulo{
font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #1d3557;
grid-column: auto;
grid-row: 1/2;
  }

  .checkin-p1{
color: #457b9d;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
grid-column: auto;
grid-row:3/4 ;
  }

  .checkin-p2{
    color: #457b9d;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
grid-column: auto;
grid-row:4/5 ;


  }

  .checkin-apellido{
    color: #457b9d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: auto;
    grid-row:5/6 ;

  }

  .checkin-reserva{

    color: #457b9d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: auto;
    grid-row:6/7 ;
  }

  .checkin-continuar{
grid-column:auto;
grid-row: 7/8;

  }
/****************************/





#grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    background-image:url(../images/logo\ 5%.png);
    background-size: 150px;
    width: 65%;
   height: 300px;
border: #457b9d 2px solid;


}

.vuelos{
color: #457b9d;
grid-column: 1/2;
grid-row: 1/2;
text-align: left;
border-bottom-style:solid;
border-bottom-color: #457b9d;
margin: 10px;
width: 90px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.c1{

grid-column:1/2 ;
grid-row: 2/3;
max-width: 150px;
height: 20px;
}

.c2{
    width: 80px;
    height: 50px;
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 150px;
height: 20px;
}
.c3{
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0px 10px;
    
   
}
.c4{
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0px 10px;
}

.c5{
grid-column: 3/4;
grid-row: 3/4;


}
.c6{ 
grid-column: 4/5;
grid-row: 3/4;
    
}
.c7{
grid-column: 5/46;
grid-row: 3/4;
    
}
.c8{
grid-column: 3/4;
grid-row: 5/6;
    
}
.c9{
grid-column:3/4 ;
 grid-row: 6/7;
}

.buscVue{
    color: white;
    border:1.5px solid #1d3557;
    background-color: #457b9d;
    max-width: 200px;
    height: 50px;
}

/*footer*/
footer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 500px;
    background-color: rgba(211, 211, 211, 0.105);
    }

.alonAir{
color: black;
border:none;
width: auto;
text-align:left;
grid-column:1/2 ;
grid-row:1/7 ;
margin: 0px;
}

.infoLeg{
border: none;
width: auto;
text-align: left;
grid-column:2/3 ;
grid-row:1/7 ;
margin:0px;
}

.contacto{
    border:none;
width: auto;
text-align: center;
grid-column:3/4 ;
grid-row:1/7 ;
height: 60px;
margin: 0px;
}

.app{
 border: none;
width: auto;
text-align: center;
grid-column:3/4 ;
grid-row:2/3 ;
margin: auto;
}

.facebook:hover{
    width: 40px;
    height:40px;

   }

   .twitter:hover{
    width: 40px;
    height:40px;
   }

   .youtube:hover{
    width: 40px;
    height:40px;
   }

   .instagram:hover{
    width: 40px;
    height:40px;
   }

   .linkedin:hover{
    width: 40px;
    height:40px;
   }
   .store:hover{
    width: 80px;
    height:40px;
   }

   .google:hover{
    width: 80px;
    height:40px;
   }

.colorTitulo{
    color: #1d3557;
}
footer li{

    color: gray;
    text-align: left;
    line-height: 3;
    list-style-type: none;
}

    

#ingUsuario{

    border: 2px solid black;
    max-width:400px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image:url(../images/logo\ 5%.png);
    background-size: 150px;
border: #457b9d 2px solid;
margin: 140px 0px;
}

.ingUsu{

margin-top: 30px;
font-size: 45px;
color: #1d3557;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parr{
color: #457b9d;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: auto;
    grid-row: 3/4;
   } 

   .nroSocio{
grid-column: auto;
grid-row: 4/5;
padding: 10px;


   }

   .cont{
    grid-column: auto;
    grid-row: 5/6;

   }

   .ing{
    grid-column: auto;
    grid-row: 6/7;
   }
   .modifButton{
    color: white;
    border:1.5px solid #1d3557;
    background-color: #457b9d;
    width: 200px;
    height: 50px;
    cursor: pointer;
   }

  